main.main {
    color: #5b2153;
}

.description {
    margin-top: 50px;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}

.activity {
    margin: 20px;
}

.section {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1200px) {
    .section {
        flex-direction: column;
    }

    .description {
        max-width: 900px;
        margin: 40px 120px 0;
    }
}
