.main {
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    color: #5b2153;
    margin: 100px auto 60px;
    padding: 10px;
}

.h1 {
    font-size: 70px;
    letter-spacing: 0.05em;
}

.description {
    font-size: 24px;
    margin: 20px;
    padding: 5px;
}
/* h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } */
